<br /><br /><br />
<h3>About</h3>
<p>
  This is an unofficial web application for translating text using DeepL
  Translator API. The API documentation is reachable under: <br /><a title="DeepL API" href="https://www.deepl.com/docs-api.html">https://www.deepl.com/docs-api.html</a><br />
  <br />
  Ridvan Chasan<br />
  <a href="mailto:info@rich-informatik.de">info@rich-informatik.de</a>
</p>
<h4>Source on <fa-icon [icon]="faGithub"></fa-icon></h4>
<p>
    <a title="Github source code" href="https://github.com/rich-info/deepl-pro-translator-client">https://github.com/rich-info/deepl-pro-translator-client</a>
</p>
<h4>License</h4>
<p>
    Apache License 2.0
</p>