<br /><br /><br />
<div class="row">
  <div class="col">
    <h2>Settings</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    DeepL API endpoint:
  </div>
  <div class="col">
    {{ endpoint }}
  </div>
</div>
<div class="row">
  <div class="col">
    DeepL API authentication key:
  </div>
  <div class="col">
    {{ authKey }}
  </div>
</div>
<div class="row">
  <div class="col">
    Show top navbar:
  </div>
  <div class="col">
    {{ showTopNavbar }}
  </div>
</div>
<div class="row">
  <div class="col">
    Show title on translator form:
  </div>
  <div class="col">
    {{ showTranslatorTitle }}
  </div>
</div>
<div class="row">
  <div class="col">
    <br /><br />
    <h4>Customization</h4>
    You can modify the settings under 'src/environments/environment'.
  </div>
</div>