<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    <fa-icon icon="globe"></fa-icon> Translator
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">
          <fa-icon icon="home"></fa-icon> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/settings']" routerLinkActive="active">
          <fa-icon icon="cog"></fa-icon> Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">
          <fa-icon icon="info"></fa-icon> About
        </a>
      </li>
    </ul>
  </div>
</nav>